//  Header and top bar style
#header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;

    .header-top {
        max-width: 1560px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include tablet {
            @include align-center;
            justify-content: space-between;
        }

        .mobile_menu {
            position: fixed;
            display: none;
        }

        .logo {
            width: 120px;
            display: inline-block;
        }

        .top-menu__min {
            @include tablet {
                display: none;
            }
            ul {
                list-style: none;
                display: flex;
                gap: 15px;

                li {
                    display: inline;

                    &.active,
                    &:hover {
                        a {
                            color: $basic-color;
                        }
                    }
                }
            }
        }
        .right-menu {
            ul {
                list-style: none;
                display: flex;
                gap: 15px;

                li {
                    display: inline;
                    a {
                        .icon {
                            font-size: 20px;
                        }
                    }
                    &.active,
                    &:hover {
                        a {
                            .icon {
                                color: $secondary;
                            }
                        }
                    }
                }

                /* Mobile menu toggler button */
                .navbar-toggler {
                    right: 15px;
                    width: 32px;
                    height: 32px;
                    display: grid;
                    align-items: center;
                    grid-template-rows: 1fr 1fr 1fr;

                    visibility: hidden;
                    opacity: 0;
                    z-index: -1;

                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }

                    span {

                        &.sr-only {
                            display: none;
                        }
                        &.bar {
                            height: 4px;
                            width: 100%;
                            border-radius: 3px;
                            background: $white;
                            transition: all 300ms ease;
                        }
                    }
                }

                /* Medium devices (tablets, 768px and up) */
                @media (max-width: 768px) {
                    // mobile responsive menu
                    .navbar-toggler {
                        visibility: visible;
                        opacity: 1;
                        z-index: 9999;

                        &[aria-expanded="true"] {
                            span {
                                &.bar {
                                    background-color: $white;
                                    &.bar-2 {
                                        display: none;
                                    }
                                    &.bar-1 {
                                        transform: rotate(45deg);
                                        top: 10px;
                                        position: relative;
                                    }
                                    &.bar-3 {
                                        transform: rotate(-45deg);
                                    }
                                }
                            }
                        }
                    }


                }
            }
        }
    }

    .main-nav {
        position: absolute;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: center;

        @include tablet {
            display: none;
        }

        ul {
            display: flex;
            gap: 28px;

            padding: 26px 40px;
            border-radius: 40px;
            position: relative;
            padding-right: 120px;

            &::after {
                position: absolute;
                content: "";
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                z-index: -1;
                border-radius: 40px;

                background: linear-gradient(90deg, rgba($bg, 0.2) 0%, rgba($white, 0.1) 100%);
                backdrop-filter: blur(10px);
            }

            form {
                position: absolute;
                height: 100%;
                right: 0;
                top: 0;
                transition: all 300ms ease;

                visibility: hidden;
                opacity: 0;
                width: 0;

                &.show-form {
                    width: 100%;
                    visibility: visible;
                    opacity: 1;
                }

                input {
                    height: 100%;
                    position: absolute;
                    right: 0;
                    top: 0;
                    border: none;
                    border: none;
                    outline: none;
                    border: none;
                    &:focus-visible,
                    &:focus {
                        border: none;
                        outline: none;
                        border: none;
                    }

                    &.search-field {
                        width: 100%;
                        border-radius: 40px;
                        right: 0;
                        z-index: 9;
                        padding: 0px 20px;
                        box-sizing: border-box;
                        font-size: 18px;
                        padding-left: 32px;
                        color: $white;

                        background: linear-gradient(90deg, #ff7406 0%, #ff4c1a 100%);

                        &::placeholder {
                            color: rgba($white, 0.7);
                        }

                        // width: 0;
                    }
                    &[type="submit"] {
                        color: $white;
                        z-index: 10;
                        background: transparent;
                        cursor: pointer;
                        padding-right: 32px;
                    }
                }
            }

            li {
                display: inline-block;
                position: relative;

                a {
                    font-size: 16px;
                    .icon {
                        margin-right: 7px;
                        font-size: 18px;
                    }
                }
                &:not(:last-child) {
                    padding-right: 20px;

                    &::after {
                        @include absolute;
                        content: "\f004";
                        font-family: "fontello";
                        font-size: 14px;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        opacity: 0.6;
                    }
                }

                &:last-child {
                    position: absolute;
                    height: 100%;
                    right: 0;
                    top: 0;
                    aspect-ratio: 1;

                    a {
                        height: 100%;
                        width: 100%;
                        border-radius: 50px;
                        background-color: $basic-color;

                        @include align-center;

                        .icon {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }
}

.drop-menu {
    .megamenu {
        position: absolute;
        min-width: 580px;
        border-radius: 10px;
        background: rgba($white, 0.15);
        backdrop-filter: saturate(200%) blur(20px);
        padding: 20px;

        left: -36px;
        top: 78px;

        transition: all 200ms ease;
        visibility: hidden;
        transform: translateY(-20px);
        opacity: 0;
        z-index: -1;

        &[data-visible="true"] {
            visibility: visible;
            transform: translateY(0px);
            opacity: 1;
            z-index: 9999;
        }

        .title {
            background-color: rgba($black, 0.15);
            padding: 5px 14px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                &:hover {
                    color: $basic-color;
                }
            }
        }

        .item-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            padding: 20px;
            .item {
                padding: 3px;
                border-radius: 28px;
                .icon {
                    height: 40px;
                    aspect-ratio: 1;
                    display: inline-flex;
                    background-color: $secondary;
                    border-radius: 50%;
                    align-items: center;
                    justify-content: center;
                }

                &:hover {
                    background-color: rgba($white, 0.15);
                }
            }
        }
        .cards-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            padding: 20px;
            .card-block {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
                img {
                    filter: drop-shadow(0px 3px 5px rgba($white, 0.3));
                    height: 42px;
                    width: auto;
                }
            }
        }
    }
}
