@mixin overlay($color, $opacity) {
    z-index: 1;
    position: relative;

    &:before {
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        background: rgba($color, $opacity);
        @include transition(all 0.3s ease);
    }
}

@mixin absolute($top: auto, $right: auto, $bottom: auto, $left: auto) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

$html-font-size: 16px;

@mixin align-center($type: "all") {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    // all
    @if $type == "all" {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        // horizontal
    } @else if $type == "horizontal" {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        // vertical
    } @else if $type == "vertical" {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        // vertical
    } @else if $type == "bottom" {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
}

//Responsive Breakpoint Mixin:
@mixin mobile-xs {
    @media (max-width: 520px) {
        @content;
    }
}

@mixin mobile-min {
    @media (min-width: 575px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 574.98px) {
        @content;
    }
}

@mixin tablet-min {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 767.98px) {
        @content;
    }
}

@mixin desktop-min {
    @media (min-width: 1024.98px) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: 991.98px) {
        @content;
    }
}

@mixin desktop-lg-min {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin desktop-lg {
    @media (max-width: 1199.98px) {
        @content;
    }
}
@mixin desktop-xl {
    @media (min-width: 1200.98px) {
        @content;
    }
}
@mixin desktop-xxl {
    @media (min-width: 1400.98px) {
        @content;
    }
}
