form {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    transition: all 300ms ease;

    visibility: hidden;
    opacity: 0;
    width: 0;

    @include tablet {
        position: fixed;
        max-width: 450px;
        width: 100%;
        height: 60px;
        left: 50%;
        top: 120px;
        transform: translateX(-50%);
    }

    &.show-form {
        width: 100%;
        visibility: visible;
        opacity: 1;
    }
    &[form-mobile="true"] {
        width: 100%;
        visibility: visible;
        opacity: 1;
    }

    input {
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        border: none;
        outline: none;
        border: none;
        &:focus-visible,
        &:focus {
            border: none;
            outline: none;
            border: none;
        }

        &.search-field {
            width: 100%;
            border-radius: 40px;
            right: 0;
            z-index: 9;
            padding: 0px 20px;
            box-sizing: border-box;
            font-size: 18px;
            padding-left: 32px;
            color: $white;

            background: linear-gradient(90deg, #ff7406 0%, #ff4c1a 100%);

            &::placeholder {
                color: rgba($white, 0.7);
            }

            // width: 0;
        }
        &[type="submit"] {
            color: $white;
            z-index: 10;
            background: transparent;
            cursor: pointer;
            padding-right: 32px;
        }
    }
}
